---
import Layout from "../layouts/Layout.astro" ;
---

<Layout title="404" description="JES 404" keywords="404">

  <div class="container-fluid d-flex d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center remainContainer">
    <h1 class="ErrorH1"> 404 </h1>
    <h1 class="ErrorH2"> Page Not Found </h1>
  </div>
  
</Layout>