---
import Layout from "../layouts/Layout.astro" ;
import "../styles/applications.css" ;
---

<Layout title="Admission" description="JES Admission" keywords="Admission">

  <img class="width100" src="/img/clip_4.webp" alt="Image" loading="eager" draggable="false" />
  <div class="d-flex flex-column justify-content-center align-items-center pad1">
    <h1 class="H1"> Admission </h1>
    <p class="P1"> Thank you for your interest in Jakson Education System. We are honored that you are taking the time to learn about JES. Our admission and registration procedure is listed below </p>
    <div class="accordion width100" role="tablist" id="accordion1">

      <div class="accordion-item">
        <h2 class="accordion-header" role="tab">
          <button class="accordion-button collapsed contactBtn" data-bs-toggle="collapse" data-bs-target="#accordion1 .item-1" aria-expanded="false" aria-controls="accordion1 .item-1"> Registration </button>
        </h2>
        <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion1">
          <div class="accordion-body">
            <p class="P2"> Parents wishing to admit a kid should initially enlist for a confirmation test by finishing the affirmation shape at the school office and taking a registration card for the test and meeting. <br /> Registration does not at all confirm admission. It is liable to overcoming an affirmation test/meeting and accessibility of the seat </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" role="tab">
          <button class="accordion-button collapsed contactBtn" data-bs-toggle="collapse" data-bs-target="#accordion1 .item-2" aria-expanded="false" aria-controls="accordion1 .item-2"> Admission Test </button>
        </h2>
        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion1">
          <div class="accordion-body">
            <p class="P2"> 
              <strong> Nursery – PREP </strong>
              <br />
              An informal individual assessment test is taken combined with an interview with both the parents
              <br />
              <strong> Class-I Onward </strong>
              <br />
              Applications for Grade 1 onward are tested in three subjects – English, Urdu, and Mathematics
              <br />
              The passing percentage is 50%
              <br />
              The duration of each paper is approximately 30 minutes
              <br /> 
              For the written test, the child should come properly equipped with a pencil, eraser, sharpener, and ruler. The papers are not set from any specific textbooks or syllabus but are of a general nature designed to test the aptitude of the child in the basic subjects
              <br />
              The test paper is not shown to anyone and only marks are communicated to the parents/guardians
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" role="tab">
          <button class="accordion-button collapsed contactBtn" data-bs-toggle="collapse" data-bs-target="#accordion1 .item-3" aria-expanded="false" aria-controls="accordion1 .item-3"> Admission Formalities </button>
        </h2>
        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion1">
          <div class="accordion-body">
            <p class="P2 bold"> Documents Needed </p>
            <ul class="P2">
              <li> A photocopy of the Provisional Certificate & Character Certificate from the last institution attended </li>
              <li> 2 recent passport-size photographs </li>
              <li> Attested photocopy of Birth Certificate </li>
              <li> Report card from the last school </li>
              <li> CNIC of both parents </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</Layout>