---
import Layout from "../layouts/Layout.astro" ;
import "../styles/program.css" ;
---

<Layout title="Early Year Program" description="JES Early Year Program" keywords="Early Year, Program">

  <img class="width100" src="/img/clip_2.png" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-sm-flex flex-column justify-content-sm-center align-items-sm-center pad1 padBottom0">
    <h1 class="programH1"> Early Year Program </h1>
    <p class="programP1"> Well-trained Montessori diploma holder tutors are our resources to train the early year students. This is the time to build the foundation for children and JES provides the best-suited staff access to the students during school hours </p>
  </div>

  <div class="container-fluid pad1">
    <div class="row">
      <div class="col-md-6 d-sm-flex flex-column justify-content-sm-center align-items-sm-start">
        <h1 class="programH2"> Methodology </h1>
        <p class="programP2"> The program includes Pre-Nursery and Nursery students. The students are taught through activities and games, thereafter, developing their interest and provoking their thoughts. <br /> The children learn best in supportive relationships with teachers and the head of the school. They learn best through 3E’s approach i.e, Experience, Extension, and Examination. The children learn in the best way when the curriculum matches their culture and values. JES strives to incorporate all the approaches to teaching students </p>
      </div>
      <div class="col-md-6">
        <img class="programImg" src="/img/1.jpg" alt="Image" loading="eager" draggable="false" />
      </div>
    </div>
  </div>

  <div class="container-fluid pad1">
    <div class="row">
      <div class="col-md-6 d-sm-flex flex-column justify-content-sm-center align-items-sm-start">
        <h1 class="programH2"> Informal Assessments </h1>
        <p class="programP2"> Assessment is a continuous process that takes place in all areas of school life. Through ongoing assessment, we hope to build a complete picture of a student’s development, not only intellectually, but emotionally, socially, and physically. <br /> Assessment can take many forms. We assess through discussion and observation as well as using more formal procedures such as testing </p>
      </div>
      <div class="col-md-6">
        <img class="programImg" src="/img/2.jpg" alt="Image" loading="eager" draggable="false" />
      </div>
    </div>
  </div>

</Layout>