---
import Layout from "../layouts/Layout.astro" ;
import Franchise from "../components/Franchise" ;
import "../styles/franchise.css" ;
---

<Layout title="Franchise Application" description="JES Franchise Application" keywords="Franchise, Application">

  <img class="width100" src="/img/clip_3.png" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-sm-flex flex-column justify-content-sm-center align-items-sm-center pad1">
    <h1 class="programH1"> Franchise Application Form </h1>
    <div class="d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center width100">

      <Franchise client:load />

    </div>
  </div>
  
</Layout>