---
import Layout from "../layouts/Layout.astro" ;
import "../styles/franchise.css" ;
---

<Layout title="Franchise Opportunities" description="JES Franchise Opportunities" keywords="Franchise, Opportunities">

  <img class="width100" src="/img/clip_4.webp" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-sm-flex flex-column justify-content-sm-center align-items-sm-center pad1">
    <h1 class="franchiseH1"> Franchise Opportunities </h1>
    <p class="franchiseP1"> JES offers education franchises to interested parties, who are willing to excel and develop in the education sector but don’t have any prior guidance and knowledge. JES guarantees full consultation facilities for franchises to manage the school before and after getting the franchise. JES will provide A to Z working manuals to franchisees to accomplish day-to-day tasks efficiently </p>
    
    <div class="d-flex flex-column justify-content-center align-items-center">
      <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse1" href="#collapse1" role="button" class="franchiseBtn"> Training &amp; Development </a>
      <div class="collapse" id="collapse1">
        <p class="franchiseP2"> All trainers (teachers) employed by Jakson Education System will be prepared according to the most recent patterns and headways in the field of training. Preparation will be done by our in-house preparation office. The Jakson Training group comprises exceedingly particular and experienced people, prepared by national and global mentors, who use their insight and skill to create educators. The trainers will be prepared to utilize creative showing methodologies and educate using energized exercises, A.V helps, cheat sheets and science models, and so forth </p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse2" href="#collapse2" role="button" class="franchiseBtn"> Franchisee Training Modules </a>
      <div class="collapse" id="collapse2">
        <ul class="franchiseList">
          <li> Jakson Education System Philosophy </li>
          <li> Plan for Franchise Services </li>
          <li> HR Management </li>
          <li> Admissions Management </li>
          <li> Financial Planning & Management </li>
          <li> Curriculum & Assessments Pre School </li>
          <li> Planning & Administration </li>
          <li> Marketing & Branding </li>
          <li> Training & Monitoring </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse3" href="#collapse3" role="button" class="franchiseBtn"> Teachers Training Modules </a>
      <div class="collapse" id="collapse3">
        <ul class="franchiseList">
          <li> Curriculum Management </li>
          <li> Lesson Planning & Teaching Aids </li>
          <li> Assessment Guidelines </li>
          <li> Pre-School </li>
          <li> Subject-Based Training </li>
        </ul>
      </div>
    </div>
  </div>
 
</Layout>