---
import Layout from "../layouts/Layout.astro" ;
import "../styles/aboutUs.css" ;
---

<Layout title="History" description="JES History" keywords="History">

  <img class="width100" src="/img/clip_1.png" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-flex d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center pad1">
    <h1 class="H1"> History </h1>
    <p class="P1"> Jakson Education System is a concept of M/s Axiom’s Educational Wing, where the latter was comprised of the training and development of educational personnel. It is the then thought of the Chairman to incorporate conceptual learning from the very beginning of the educational life of the student. AES has organized Hands-on training similar to the World Bank training format throughout the leading universities of the country and faced problems to deliver due to the lack of students’ conceptual level and competence.<br>The issue was because of their traditional educational system which lacks the integration of real-world examples and training with routine studies. At that particular time, the AES think tank thought of incorporating conceptual and project-based learning from early years in schools. Hence, they transformed the idea into reality with the name “Jakson Education System”. Chairman holds an Asia record in training blind students as well.<br>Jakson Education system is that seed planted by the C.E.O of AES-based Hands-on learning rather than a conventional cramming system </p>
  </div>
  
</Layout>