---
import Layout from "../layouts/Layout.astro" ;
import "../styles/aboutUs.css" ;
---

<Layout title="Chairman’s Message" description="JES Chairman’s Message" keywords="Chairman’s Message">

  <img class="width100" src="/img/clip_1.webp" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-flex d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center pad1">
    <h1 class="H1"> Chairman’s Message </h1>
    <p class="P1"> Welcome to the official website of JES. We hope that you find our aims and objectives to educate our future generation and are able to know our future aspirations, so as to contribute toward societal well-being. Students are also encouraged to possess a strong sense of service and be a good contribution to society beyond charity sense, which makes us different from all other institutions. <br /> We welcome our students with acceptance and respect, allowing them to learn and explore their selves to learn all the aspects of life. They are provided with the opportunities to express their culture and traditions at JES. They are always asked and encouraged to find innovative ways of learning and challenge themselves beyond their expectations and make themselves the diligent individual of society. There is no alternative for JES where your child is our responsibility. <br /> I hope to see you at school </p>
    <div class="Div1">
      <p class="P2"> M.J.Anjum </p>
    </div>
  </div>
  
</Layout>