---
import Layout from "../layouts/Layout.astro" ;
import "../styles/aboutUs.css" ;
---

<Layout title="School Objectives" description="JES School Objectives" keywords="School, Objectives">

  <img class="width100" src="/img/clip_3.png" alt="Image" draggable="false" />
  <div class="container-fluid d-flex d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center pad1">
    <h1 class="H1"> School Objectives </h1>
    <p class="P1"> At Jakson Education System, we look forward to individuals who have the longing and enthusiasm to exceed expectations. Broad and thorough inside training help employees in giving their best at work, as well as our way of life, enabling them to accomplish their professional vision and understand their maximum capacity. JES is an equivalent open-door manager, where ability, skill, and demonstrable skill are constantly esteemed. Our procuring procedure involves a short posting of pooled applicants, HR interviews, Interviews with Franchisees, and a Job Compatibility Assessment. <br /> In our school, all endeavors will be coordinated towards further building up the capability of people in an all-encompassing and incorporated way, to create people who are mentally, profoundly, candidly, and physically adjusted. Such an exertion is intended to deliver future residents who are proficient and able, who have high good models, and who are mindful and competent. Therefore, in our school, as trainers our primary targets of the school are: </p>
    <ul class="d-flex flex-column justify-content-center align-items-start List1">
      <li class="listItem1"> encourage all-round advancement of the individual covering the savvy person, physical, enthusiastic, and otherworldly spaces </li>
      <li class="listItem1"> to become positively different </li>
      <li class="listItem1"> to deliver an innovatively educated resident who can add to the national improvement in the learning-based innovation period </li>
      <li class="listItem1"> to promote a sense of responsibility towards the welfare of the community among individuals by involving them in activities that work towards making our community a better place to live in </li>
      <li class="listItem1"> to take focal points of globalization and give a platform to people where they can scholastically coordinate with their universal partners </li>
    </ul>
  </div>    

</Layout>