---
import Layout from "../layouts/Layout.astro" ;
import "../styles/program.css" ;
---

<Layout title="Primary Year Program" description="JES Primary Year Program" keywords="Primary Year, Program">

  <img class="width100" src="/img/clip_1.webp" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-sm-flex flex-column justify-content-sm-center align-items-sm-center pad1 padBottom0">
    <h1 class="programH1"> Primary Year Program </h1>
    <p class="programP1"> The primary program of JES enables the students to acquire the best knowledge through activities and lets the students relate it to the previously gained knowledge along with its connectivity with the knowledge to be acquired in later classes. <br /> Teachers are also trained through online resources and professional training in order to provide the best and updated knowledge to the children </p>
  </div>

  <div class="container-fluid pad1">
    <div class="row">
      <div class="col-md-6 d-sm-flex flex-column justify-content-sm-center align-items-sm-start">
        <h1 class="programH2"> Seeing is Believing </h1>
        <p class="programP2"> Education is a natural process carried out by the child and not acquired by listening to words but by experiences in the environment </p>
      </div>
      <div class="col-md-6">
        <img class="programImg" src="/img/3.webp" alt="Image" loading="eager" draggable="false" />
      </div>
    </div>
  </div>

  <div class="container-fluid pad1">
    <div class="row">
      <div class="col-md-6 d-sm-flex flex-column justify-content-sm-center align-items-sm-start">
        <h1 class="programH2"> Formal Assessments </h1>
        <p class="programP2"> Formal testing allows us to track the progress of individual students and also helps us to identify the strengths and weaknesses across the school. There are periodic Unit Assessments and two Terminal Assessments including several units of study. <br /> Absence from one or more subjects involves the loss of grades for these subjects and excludes the student from prizes and awards. Students absent from an assessment should not expect to be re-assessed and those absent from an assessment without permission will be considered as having failed. <br /> Parents will receive information about the results of these assessments as part of the student’s Annual School Report </p>
      </div>
      <div class="col-md-6">
        <img class="programImg" src="/img/4.webp" alt="Image" loading="eager" draggable="false" />
      </div>
    </div>
  </div>

</Layout>