---
import Layout from "../layouts/Layout.astro" ;
import "../styles/aboutUs.css" ;
---

<Layout title="Core Team" description="JES Core Team" keywords="Core Team">

  <div class="container-fluid">
    <h1 class="H1"> Core Team </h1>
  </div>

  <div class="container-fluid d-sm-flex justify-content-center align-items-center align-content-center align-self-center justify-content-sm-center align-items-sm-center teamDiv">
    
    <div class="d-flex justify-content-center align-items-center width100">
      <div class="card teamCard">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <img class="teamImg" src="/img/man_avatar.png" alt="Man Avatar" loading="eager" draggable="false" />
          <h4 class="card-title teamH1"> M.J.Anjum </h4>
          <h6 class="text-muted card-subtitle mb-2 teamH2"> Chairman </h6>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center width100">
      <div class="card teamCard">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <img class="teamImg" src="/img/girl_avatar.png" alt="Girl Avatar" loading="eager" draggable="false" />
          <h4 class="card-title teamH1"> Uzma Syed </h4>
          <h6 class="text-muted card-subtitle mb-2 teamH2"> Director (Operations) </h6>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center width100">
      <div class="card teamCard">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <img class="teamImg" src="/img/man_avatar.png" alt="Man Avatar" loading="eager" draggable="false" />
          <h4 class="card-title teamH1"> Syed Muhmmad Khizer </h4>
          <h6 class="text-muted card-subtitle mb-2 teamH2"> Head of IT Department </h6>
        </div>
      </div>
    </div>

  </div>

</Layout>