---
import Layout from "../layouts/Layout.astro" ;
import "../styles/aboutUs.css" ;
---

<Layout title="Vision & Mission" description="JES Vision & Mission" keywords="Vision, Mission">

  <img class="width100" src="/img/clip_2.webp" alt="Image" loading="eager" draggable="false" />
  <div class="container-fluid d-flex d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center pad1">
    <h1 class="H1"> Vision </h1>
    <p class="P1"> We aim to set high standards in compliance with the market emerging trends and guide our students in the best possible way to achieve those standards. We focus on delivering the best services and providing equal opportunities for every child to explore their potential and work for it. We believe in professionalism, hence, counseling the students according to their relevant talents is also one of the top-notch priorities of the Jakson Education System </p>
    <h1 class="H1"> Mission </h1>
    <p class="P1"> Our school empowers the students to acquire quality education and lets them strive for their social and psychological well-being </p>
  </div>

</Layout>