---
---

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-white bg-gradient d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center navBar">
  <div class="container-fluid">
    <a rel="prefetch" class="navbar-brand" href="/">
      <img class="navImg" src="/img/logo.png" alt="JES Logo" title="Jakson Education System" loading="eager" />
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler colorOrange" data-bs-target="#navCol">
      <span class="visually-hidden"> Toggle Navigation </span>
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navCol">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a rel="prefetch" class="nav-link active navFont pad8" href="/"> Home </a>
        </li>

        <li class="nav-item d-sm-flex align-items-sm-center">
          <div class="nav-item dropdown pad8">
            <a class="dropdown-toggle navFont" aria-expanded="false" data-bs-toggle="dropdown" href="#"> About Us </a>
            <div class="dropdown-menu dropdown-menu-start">
              <a rel="prefetch" class="dropdown-item navFont" href="/history"> History </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/mission"> Vision &amp; Mission </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/objectives"> School Objectives </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/message"> Chairman’s Message </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/team"> Core Team </a>
            </div>
          </div>
        </li>

        <li class="nav-item d-sm-flex align-items-sm-center">
          <div class="nav-item dropdown pad8">
            <a class="dropdown-toggle navFont" aria-expanded="false" data-bs-toggle="dropdown" href="#"> Franchise </a>
            <div class="dropdown-menu dropdown-menu-start">
              <a rel="prefetch" class="dropdown-item navFont" href="/opportunities"> Franchise Opportunities </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/benefits"> Franchise Benefits </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/support"> Support for Franchisee </a>
            </div>
          </div>
        </li>

        <li class="nav-item d-sm-flex align-items-sm-center">
          <div class="nav-item dropdown pad8">
            <a class="dropdown-toggle navFont" aria-expanded="false" data-bs-toggle="dropdown" href="#"> Academics </a>
            <div class="dropdown-menu dropdown-menu-start">
              <a rel="prefetch" class="dropdown-item navFont" href="/early_program"> Early Years Program </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/primary_program"> Primary Program </a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a rel="prefetch" class="nav-link active navFont pad8" href="/admission"> Admission </a>
        </li>

        <li class="nav-item d-sm-flex align-items-sm-center">
          <div class="nav-item dropdown pad8">
            <a class="dropdown-toggle navFont" aria-expanded="false" data-bs-toggle="dropdown" href="#"> Careers </a>
            <div class="dropdown-menu dropdown-menu-start">
              <a rel="prefetch" class="dropdown-item navFont" href="/criteria"> Recruiting Criteria </a>
              <a rel="prefetch" class="dropdown-item navFont" href="/career"> Career Opportunities </a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a href="/adopt"> <button type="button" class="navBtn"> Adopt a Child </button> </a>
        </li>

      </ul>
    </div>
  </div>
</nav>